.footer {
    background-color: var(--pallete-color11);
    padding: 10px;
    color: var(--pallete-color1);
}
.footer p {
    font-family: 'Montserrat', sans-serif, Arial;
    text-align: center;
    font-size: 16px;
    color: var(--pallete-color1);
    margin-bottom: 0;
}