.main {
    background-color: var(--pallete-color6);
    flex-grow: 1;
}

.container {
    padding: 0 16px;
    width: 100%;
    max-width: 1172px;
    margin: 0 auto;
}

.row {
    padding: 80px 0;
}